{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}iList{% endblock %}

{% block page_content %}
<div class="page-header">

    <h1>Hi, {{ current_user.username }}  </h1>

    <h2>Select category to add a task</h2>
    <p> {{ category }}</p>
</div>

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <h2> My Tasks </h2>
<h3> {{ name }} </h3>
</div>

<style>
	body {
	 margin: 0;
	 background-image: url(../static/bb.jpg);
	 background-size: 1440px 800px;
	 background-repeat:no-repeat;
	 display: compact;
	 font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
</style>





{% endblock %}
